.flex{
  display: flex;
}
.game_h1title {
	position: relative;
	padding: 0 17%;
	text-align: center;
	color:#F4511E;
	margin-left: auto;
	margin-right: 0%;
	font-size: 300%;
}
.game_h1title:before, .game_h1title:after {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 15%;
	height: 1px;
	background-color: #F4511E;
}
.game_h1title:before {
	left: 5%;
	background: linear-gradient(-45deg, transparent, #F4511E 10%, #F4511E 30%, transparent);
}
.game_h1title:after {
	right: 5%;
	background: linear-gradient(-45deg, transparent, #F4511E 70%, #F4511E 90%, transparent);
}
.game_screen{
  min-width: 500px;
  max-width: 600px;
  margin: auto;
}
.btn_box{
  min-width: 400px;
  max-width: 500px;
  text-align: center;
  margin: auto;
}
li {
  list-style: none;
}
.box1_a{
  flex: 1;
}
.box1_b{
  flex: 1;
}
.box1_c{
  flex: 1;
}
.select_btn {
  width:100px;
  height:100px;
  outline : none;
  position: relative;
  border-radius: 50%;
  color: #fff;
  line-height: 50px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0px 1px 0px #f56778;
  font-size: 20px;
}
.select_btn,
.select_btn:hover {
  border-bottom: 4px solid #cb5462;
  background-color: #f56778;
  background-image: -webkit-linear-gradient(top, #f997b0, #f56778);
  background-image: linear-gradient(to bottom, #f997b0, #f56778);
  box-shadow: inset 1px 1px 0 #fbc1d0;
}
.select_btn::before,
.select_btn::after {
  bottom: -1px;
  left: -1px;
  width: 200px;
  height: 50px;
  border: 1px solid #ee8090;
  border-bottom: 1px solid #b84d5a;
  border-radius: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: none;
  transition: none;
}
.select_btn::before {
  height: 48px;
  bottom: -4px;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 1px 0px #bfbfbf;
}
.select_btn:hover {
  background: #f56778;
  background-image: -webkit-linear-gradient(top, #f56778, #f997b0);
  background-image: linear-gradient(to bottom, #f56778, #f997b0);
  color: #913944;
  text-shadow: 0px 1px 0px #f9a0ad;
}
.select_btn:active {
  bottom: -4px;
  margin-bottom: 4px;
  border: none;
  box-shadow: 1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, .3);
}
.select_btn:active::before,
.select_btn:active::after {
  border: none;
  box-shadow: none;
}

.enemy {
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #000000;
    min-height: 120px;
    padding: 5px;
    font-size: 80px;
    text-align: center;
}
.enemy_title{
position: relative;
padding: 0.1em 0.5em;
background: -moz-linear-gradient(to right, rgb(255, 255, 255), transparent);
background: -webkit-linear-gradient(to right, rgb(10, 10, 10), transparent);
background: linear-gradient(to right, rgb(10, 10, 10), transparent);
color: #ffffff;
flex: 3;
}
#enemy_gauge{
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #ffffff;
    text-align: right;
    /*border-right: solid 2px #000000;*/
    color: #000000;
    font-weight: bold;
    flex: 1;
    border-right: solid 15px transparent;
}

.GM{
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.GM #judge{
  font-size: 40px;
}

.you {
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #000000;
    min-height: 120px;
    padding: 5px;
    font-size: 80px;
    text-align: center;
}
.you_title{
position: relative;
padding: 0.1em 0.5em;
background: -moz-linear-gradient(to right, rgb(255, 255, 255), transparent);
background: -webkit-linear-gradient(to right, rgb(10, 10, 10), transparent);
background: linear-gradient(to right, rgb(10, 10, 10), transparent);
color: #ffffff;
flex: 3;
}
#you_gauge{
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #ffffff;
    /*border-right: solid 2px #000000;*/
    color: #000000;
    font-weight: bold;
    flex: 1;
        text-align: right;
    border-right: solid 15px transparent;
}
.action_input{
  display: none;
}
.action_input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.action_input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.action_input:checked + label{
  color: #009a9a;
}
.action_input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #009a9a;
  border-radius: 50%;
}
