.flex{
  display: flex;
}

.game_h1title {
	position: relative;
	padding: 0 17%;
	text-align: center;
	color:#F4511E;
	margin-left: auto;
	margin-right: 0%;
	font-size: 300%;
}
.game_h1title:before, .game_h1title:after {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 15%;
	height: 1px;
	background-color: #F4511E;
}
.game_h1title:before {
	left: 5%;
	background: linear-gradient(-45deg, transparent, #F4511E 10%, #F4511E 30%, transparent);
}
.game_h1title:after {
	right: 5%;
	background: linear-gradient(-45deg, transparent, #F4511E 70%, #F4511E 90%, transparent);
}

.game_screen{
  min-width: 500px;
  max-width: 600px;
  margin: auto;
}
.enemy {
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #000000;
}
.enemy_title{
position: relative;
padding: 0.1em 0.5em;
background: -moz-linear-gradient(to right, rgb(255, 255, 255), transparent);
background: -webkit-linear-gradient(to right, rgb(10, 10, 10), transparent);
background: linear-gradient(to right, rgb(10, 10, 10), transparent);
color: #ffffff;
flex: 3;
}
.enemy_gauge{
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #ffffff;
    /*border-right: solid 2px #000000;*/
    color: #000000;
    font-weight: bold;
    flex: 1;
    border-right: solid 15px transparent;
}
.enemy p {
    margin: 0;
    padding: 0;
}
.action_input{
  display: none;
}
.action_input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.action_input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.action_input:checked + label{
  color: #009a9a;
}
.action_input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #009a9a;
  border-radius: 50%;
}
